# Most of these environment variables are secret, and should really only be set in .envrc.local, which is .gitignored
# However, this file serves to help document which environment variables exist, and also serves as a location to keep non-secret env vars

# Discord bot authentication information
export DISCORD_BOT_TOKEN=''
export DISCORD_CLIENT_ID=''

# Source .envrc.local if it exists
[[ -f .envrc.local ]] && source_env .envrc.local